.cell-height1 { height: 40px; }
.cell-height2 { height: 77px; }
.cell-height3 { height: 117px; }
.cell-height4 { height: 157px; }
.cell-height5 { height: 197px; }
.cell-height6 { height: 237px; }
.cell-height7 { height: 277px; }
.cell-height8 { height: 317px; }
.cell-height9 { height: 357px; }
.cell-height10 { height: 397px; }
.cell-height11 { height: 437px; }
.cell-height12 { height: 477px; }
.cell-height13 { height: 517px; }
.cell-height14 { height: 557px; }
.cell-height15 { height: 597px; }
.cell-height16 { height: 637px; }
.cell-height17 { height: 677px; }
.cell-height18 { height: 717px; }
.cell-height19 { height: 757px; }
.cell-height20 { height: 797px; }


.event.track-default {
  background-color: #555;
  border-color: #555;
}

.event.track-default div.event-header {
  background-color: #555;
}

.event.track-default div.event-header a {
  color: #fff;
}

.conference-background {
  background-color: #555;
}


.event.track-freie-daten {
  background-color: #E3FFC5;
  border-color: #E3FFC5;
}
.event.track-freie-daten div.event-header {
  background-color: #E3FFC5;
}
.event.track-freie-daten div.event-header a {
  color: #000;
}

.event.track-freie-software {
  background-color: #FEF5C0;
  border-color: #FEF5C0;
}
.event.track-freie-software div.event-header {
  background-color: #FEF5C0;
}
.event.track-freie-software div.event-header a {
  color: #000;
}

.event.track-sonstiges {
  background-color: #0e7d35;
  border-color: #0e7d35;
}
.event.track-sonstiges div.event-header {
  background-color: #0e7d35;
}
.event.track-sonstiges div.event-header a {
  color: #fff;
}

.event.track-workshop-bezahlt {
  background-color: #C0C7FF;
  border-color: #C0C7FF;
}
.event.track-workshop-bezahlt div.event-header {
  background-color: #C0C7FF;
}
.event.track-workshop-bezahlt div.event-header a {
  color: #000;
}

/* Colorkeys for Tracks */


#colorkeys .track-freie-daten {
  background-color: #E3FFC5;
}

#colorkeys .track-freie-software {
  background-color: #FEF5C0;
}

#colorkeys .track-sonstiges {
  background-color: #0e7d35;
}

#colorkeys .track-workshop-bezahlt {
  background-color: #C0C7FF;
}

#colorkeys {
  font-size: .8em;
  opacity: .85;
}

#colorkeys ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#colorkeys ul li {
  margin: 0 .2em;
  float: right;
}

#colorkeys ul li div {
  padding: 0;
}

/* Custom Conference CSS */

  .description {display: none;}
#horizontal-navigation {padding: 1em 0.7em 1em 2em;}
a.close {display: none;}
#main-content {}

#header h1 {background: #f27d2c;}
