.location figcaption {
    position: relative;
    bottom: 5px;
    right: 484px;
    font-size: 12px;
    color: #eee;
    margin-top: -32px;
    margin-left: 50%;
    left: 275px;
}

.img-map-static{
   width:30%;
}

#map-static{
   float:left;
   margin-bottom: 23px;
}

