/**
 * BASICS
 */

/* @group Basics */

body {
	background-color: #fff;
	padding: 0;
	margin: 0;
	font-family: 'Droid Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 1.5;
	color: #2d3841;
}

div#wrap {
	width: 960px;
	margin: 0 auto;
	padding-bottom: 45px;
	border-bottom: 15px solid #f9a729;
}

a:link,
a:visited {
	color: #43c5dd;
}

a:hover,
a:active,
a:focus {
	color: #f9a729;
}

/* @end */

/* @group Header */

h1 {
	background: url(../img/Fossgis14-logo.png) no-repeat 0 65px;
	margin: -65px 0 45px 0;
	padding-left: 230px;
	padding-top: 50px;
	font-size: 6em;
	line-height: 0.8;
	letter-spacing: -10px;
	color: rgba(123,145,153,0.1);
}

h1 > span {
	display: block;
	color: #7b9199;
	letter-spacing: -12px;
	margin-top: -15px;
}

/* @end */

/* @group Navigation */

ul#mainNav {
	margin: 0 0 45px 140px;
	padding: 0;
	list-style-type: none;
	border-bottom: 1px solid #e6eeef;
	text-transform: uppercase;
	letter-spacing: -1px;
}

	ul#mainNav > li {
		display: inline-block;
		margin-right: 30px;
	}

		ul#mainNav > li > a:link,
		ul#mainNav > li > a:visited {
			line-height: 2;
			text-decoration: none;
			color: #2d3841;
			font-weight: bold;
			padding: 5px 5px 3px 5px;
			border-radius: 3px;
			
			transition: background-color 0.25s ease, color 0.15s ease;
		}
		
		ul#mainNav > li > a:hover,
		ul#mainNav > li > a:active,
		ul#mainNav > li > a:focus {
			/*background-color: #f9a729;*/
			background-color: #2d3841;
			color: #fff;
			
		}
		
	ul#mainNav > li.twitter {
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid #e6eeef;
		color: #43c5dd;
	}
	
		ul#mainNav > li.twitter > a:link,
		ul#mainNav > li.twitter > a:visited {
			color: #43c5dd;
		}
		
		ul#mainNav > li.twitter > a:hover,
		ul#mainNav > li.twitter > a:active,
		ul#mainNav > li.twitter > a:focus {
			color: #f9a729;
		}

/* @end */

/* @group Content */

div#content {
	padding: 0 70px 0 140px;
}

div#content > h2 {
	margin: 30px 0 7px 0;
}

div#content > p {
	margin: 0 0 15px 0;
}

div#content > h3 {
	margin: 0 0 15px 0;
}

div#content > aside {
	width: 248px;
	float: left;
	border: 1px solid #e6eeef;
	border-radius: 5px;
	padding: 15px;
	margin: 0 30px 15px -140px;
}

div#content > aside.download {
	padding: 0;
}

div#content > aside.download > a:link,
div#content > aside.download > a:visited {
	display: block;
	padding: 15px 15px 15px 60px;
	background: #fff url(../img/glyphicons_181_download_alt.png) no-repeat 15px 50%;
	
	transition: background-color 0.25s ease;
}

div#content > aside.download > a:hover,
div#content > aside.download > a:active,
div#content > aside.download > a:focus {
	background-color: #e6eeef;
}

/* @end */

/* @group Sponsoren */

div.sponsor {
	padding: 15px;
	margin: 0 0 30px 30px;
	border: 1px solid #e6eeef;
	text-align: center;
	height: 130px;
	float: left;
}

div.sponsor a {
	line-height: 130px;
}

div.sponsor:hover {
	border-color: #abc6c8;
}

	div.sponsor.gold {
		width: 658px;
	}
	
	div.sponsor.silber {
		width: 298px;
	}

	div.sponsor.bronze {
		width: 178px;
	}

/* @end */

footer {
	clear: both;
}