/**
 * BASICS
 */

/* @group Basics */

body {
	background-color: #fff;
	padding: 0;
	margin: 0;
	font-family: 'Droid Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: #2d3841;
}

div#wrap {
	width: 930px;
	margin: 0 auto;
	padding-bottom: 45px;
	border-bottom: 15px solid #f9a729;
}

a:link,
a:visited {
	color: #43c5dd;
}

a:hover,
a:active,
a:focus {
	color: #f9a729;
}

/* @end */

/* @group Header */

h1 {
	background: url(../img/Fossgis14-logo.png) no-repeat 0 100px;
	margin: -100px 0 45px 0;
	padding-left: 240px;
	padding-top: 15px;
	height: 325px;
	font-size: 7em;
	line-height: 1;
	letter-spacing: -12px;
	color: #fff;
}

h1 > span {
	display: block;
	color: #7b9199;
}

/* @end */

/* @group Navigation */

ul#mainNav {
	float: left;
	width: 210px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

		ul#mainNav > li > a:link,
		ul#mainNav > li > a:visited {
			line-height: 2;
			text-decoration: none;
			color: #2d3841;
			font-weight: bold;
		}
		
		ul#mainNav > li > a:hover,
		ul#mainNav > li > a:active,
		ul#mainNav > li > a:focus {
			color: #f9a729;
		}
		
	ul#mainNav > li.twitter {
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid #e6eeef;
		color: #43c5dd;
	}
	
		ul#mainNav > li.twitter > a:link,
		ul#mainNav > li.twitter > a:visited {
			color: #43c5dd;
		}
		
		ul#mainNav > li.twitter > a:hover,
		ul#mainNav > li.twitter > a:active,
		ul#mainNav > li.twitter > a:focus {
			color: #f9a729;
		}

/* @end */

/* @group Content */

div#content {
	width: 720px;
	float: right;
}

div#content > h2,
div#content > p {
	margin: 0 0 15px 30px;
	clear: both;
}

div#content > h3 {
	margin: 0 0 15px 30px;
	clear: both;
}

/* @end */

/* @group Sponsoren */

div.sponsor {
	padding: 15px;
	margin: 0 0 30px 30px;
	border: 1px solid #e6eeef;
	text-align: center;
	height: 130px;
	float: left;
}

div.sponsor a {
	line-height: 130px;
}

div.sponsor:hover {
	border-color: #abc6c8;
}

	div.sponsor.gold {
		width: 658px;
	}
	
	div.sponsor.silber {
		width: 298px;
	}

	div.sponsor.bronze {
		width: 178px;
	}

/* @end */

footer {
	clear: both;
}