/**
 * BASICS
 */

/* @group Basics */

body {
	background-color: #fff;
	padding: 0;
	margin: 0;
	font-family: 'Droid Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 1.5;
	color: #2d3841;
}

div#wrap {
	width: 900px;
	margin: 0 auto;
}

a:link,
a:visited {
	color: #43c5dd;
	
	transition: color 0.2s ease;
	-moz-transition: color 0.2s ease; /* Firefox 4 */
	-webkit-transition: color 0.2s ease; /* Safari and Chrome */
	-o-transition: color 0.2s ease;
}

a:hover,
a:active,
a:focus {
	color: #eb7f00;
}

/* @end */

/* @group Header */

h1 {
	background: url(../img/Fossgis14-logo.png) no-repeat 0 45px;
	margin: -45px 10px 45px 10px;
	padding-left: 225px;
	padding-top: 50px;
	font-size: 5em;
	line-height: 0.8;
	letter-spacing: -9px;
	color: rgba(123,145,153,0.1);
}

h1 > span {
	color: #7b9199;
	margin-top: -15px;
	margin-left: 35	px;
	letter-spacing: -6px;
	
	text-shadow: 1px 1px 3px #DDD;
	filter: dropshadow(color=#DDD, offx=1, offy=1);
}

/* @end */

/* @group Navigation */

ul#mainNav {
	margin: 0 10px 45px 10px;
	padding: 0;
	list-style-type: none;
	border-bottom: 1px solid #e6eeef;
	text-transform: uppercase;
	letter-spacing: -1px;
	text-align: left;
}

	ul#mainNav > li {
		display: inline-block;
		margin-right: 30px;
	}

		ul#mainNav > li > a:link,
		ul#mainNav > li > a:visited {
			line-height: 2;
			text-decoration: none;
			color: #2d3841;
			font-weight: bold;
			padding: 5px 5px 3px 5px;
			border-radius: 3px;
			
			transition: background-color 0.25s ease, color 0.15s ease;
		}
		
		ul#mainNav > li > a:hover,
		ul#mainNav > li > a:active,
		ul#mainNav > li > a:focus,
		body#socialEvents ul#mainNav > li#navSocial > a {
			background-color: #2d3841;
			color: #fff;
		}

        body#home ul#mainNav > li#navHome > a:link,
        body#home ul#mainNav > li#navHome > a:visited,
        body#call ul#mainNav > li#navCall > a:link,
        body#call ul#mainNav > li#navCall > a:visited {
            background-color: #fff;
			color: #eb7f00;
        }

/* @end */

/* @group Content */

div#content {
}

div#content > h2 {
	margin: 75px 85px 7px 160px;
	font-weight: 100;
	font-size: 30px;
	letter-spacing: -1px;
	clear: both;
}

div#content > figure + h2 {
	margin-top: -55px;
	margin-bottom: 20px;
	color: #fff;
	position: relative;
	
	text-shadow: 1px 1px 3px #333;
	filter: dropshadow(color=#333, offx=1, offy=1);
}

div#content > p {
	margin: 0 85px 15px 160px;
}

div#content > h3 {
	margin: 30px 85px 10px 160px;
}

div#content > figure {
	position: relative;
	margin: 0 10px;
}

div#content > figure > img {
	border-radius: 10px;
}

div#content > figure > figcaption {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 12px;
}

div#content > figure > figcaption a {
	color: #2d3841;
}

div#content > aside {
	width: 205px;
	float: left;
	border: 1px solid #e6eeef;
	border-radius: 5px;
	padding: 15px;
	margin: 0 20px 15px 0;
}

div#content > aside.download {
	padding: 0;
}

div#content > aside.download > a:link,
div#content > aside.download > a:visited {
	display: block;
	padding: 15px 15px 15px 60px;
	background: #fff url(../img/glyphicons_181_download_alt.png) no-repeat 15px 50%;
	
	transition: background-color 0.25s ease;
}

div#content > aside.download > a:hover,
div#content > aside.download > a:active,
div#content > aside.download > a:focus {
	background-color: #e6eeef;
}

/* @end */

/* @group Sponsoren */

div.sponsor {
	margin: 0 10px 20px 10px;
	border: 1px solid #e6eeef;
	text-align: center;
	height: 130px;
	float: left;
	border-radius: 10px;
	
	transition: border 0.2s ease;
	-moz-transition: border 0.2s ease; /* Firefox 4 */
	-webkit-transition: border 0.2s ease; /* Safari and Chrome */
	-o-transition: border 0.2s ease;
}

div.sponsor a {
	line-height: 130px;
	display: block;
}

div.sponsor:hover {
	border-color: #abc6c8;
}

	div.sponsor.organizer {
		width: 203px;
		height: 110px;
		margin: 20px 10px 30px 10px;
	}
	
	div.sponsor.organizer a {
		line-height: 110px;
	}

	div.sponsor.gold {
		width: 658px;
	}
	
	div.sponsor.silber {
		width: 298px;
	}

	div.sponsor.bronze {
		width: 178px;
	}

/* @end */

/* @group Map */

div#content > div.map {
	height: 300px;
	border-radius: 5px;
	z-index: 1000;
	position: relative;
}

/* @end */

/* @group Social events */

body#socialEvents div#spotInfo {
	position: relative;
	float: left;
	width: 300px;
	height: 350px;
	margin: -300px 30px 0 0;
	padding: 15px;
	z-index: 2000;
	
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 89%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(89%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 89%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 89%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 89%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 89%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */}

	/*body#socialEvents div#spotInfo > div {
		display: none;
	}*/

body#socialEvents div#spots {
	margin-left: 360px;
}

body#socialEvents div#spots a {
	padding: 10px 0;
	display: block;
}

/* @end */

/* @group Twitter */

div#content > div#twitter {
	margin: 0 20px 15px 85px;
	width: 505px;
	float: left;
}

div#content > div#twitter > div#twitterwall {
	position: relative;
	margin: 0 0 20px 0;
	border: 1px solid #e6eeef;
	height: 130px;
	width: 398px;
	padding: 15px;
	float: right;
	border-radius: 10px;
	overflow: show;
	
	transition: border 0.2s ease;
	-moz-transition: border 0.2s ease; /* Firefox 4 */
	-webkit-transition: border 0.2s ease; /* Safari and Chrome */
	-o-transition: border 0.2s ease;
}

div#content > div#facebook {
	margin: 0 0 15px 0;
	width: 280px;
	float: left;
}

div#content > div#facebook > div#facebooklink {
	border: 1px solid #e6eeef;
	height: 130px;
	width: 173px;
	padding: 15px;
	border-radius: 10px;
	float: right;
	position: relative;
	
	transition: border 0.2s ease;
	-moz-transition: border 0.2s ease; /* Firefox 4 */
	-webkit-transition: border 0.2s ease; /* Safari and Chrome */
	-o-transition: border 0.2s ease;
}

div#content > div#twitter > div#twitterwall:hover,
div#content > div#facebook > div#facebooklink:hover {
	border-color: #abc6c8;
}

div#content > div#twitter > div#twitterwall > div.arrow,
div#content > div#facebook > div#facebooklink > div.arrow {
	position: absolute;
	left: -6px;
	top: 15px;
	
	width: 10px;
	height: 10px;
	border: 0 solid #e6eeef;
	border-width: 1px 0 0 1px;
	background-color: #fff;
	transition: border 0.2s ease;
	-moz-transition: border 0.2s ease; /* Firefox 4 */
	-webkit-transition: border 0.2s ease; /* Safari and Chrome */
	-o-transition: border 0.2s ease;
	
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

div#content > div#twitter > div#twitterwall:hover > div.arrow,
div#content > div#facebook > div#facebooklink:hover > div.arrow {
	border-color: #abc6c8;
}

div#content > div#twitter > div#twitterwall.loading {
	background: url(../img/ajax-loader.gif) no-repeat 50% 50%;
}

div#content > div#twitter .twitter-article > .twitter-pic {
	float: left;
	margin-right: 15px;
}

div#content > div#twitter .twitter-article > .twitter-text {
	margin-left: 57px;
}

div#content > div#twitter .twitter-article > .twitter-user {
	font-weight: bold;
	margin-bottom: 0.3em;
}

div#content > div#twitter .twitter-article > .twitter-user > .tweet-time {
	margin-left: 5px;
	font-size: 0.8em;
	font-weight: normal;
}

/* @end */

/* @group Footer */

footer {
	clear: both;
	text-align: right;
	font-size: 12px;
	padding: 45px 10px 6px 10px;
	border-bottom: 15px solid #eb7f00;
	color: #AAA;
}

footer a:link,
footer a:visited {
	color: #AAA;	
}

footer a:hover,
footer a:active,
footer a:focus {
	text-decoration:none;
}

/* @end */