.img-fluid {
	max-width: 100%;
	height: auto;
}

.page-header {
	display: flex;
	align-items: center;
}
.page-header h1 {
	font-size: calc(24px + (56 - 24) * ((100vw - 300px) / (1600 - 300)));
	line-height: .8;
	color: #838b8e;
	margin: 0;
}
.page-header .amp {
	color: #333;
}

nav .main {
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style-type: none;
	border-bottom: 1px solid #eb7f00;
	text-transform: uppercase;
}
nav .main > li {
	font-weight: bold;
	margin: 0 10px;
}
nav .main a {
	text-decoration: none;
	font-weight: bold;
}
body#home nav .main > li#navHome > a:link,
body#home nav .main > li#navHome > a:visited,
body#call nav .main > li#navCall > a:link,
body#call nav .main > li#navCall > a:visited,
body#anreise nav .main > li#navAnreise > a:link,
body#anreise nav .main > li#navAnreise > a:visited,
body#anmeldung nav .main > li#navAnmeldung > a:link,
body#anmeldung nav .main > li#navAnmeldung > a:visited,
body#socialEvents nav .main > li#navEvents > a:link,
body#socialEvents nav .main > li#navEvents > a:visited,
body#team nav .main > li#navTeam > a:link,
body#team nav .main > li#navTeam > a:visited,
body#programm nav .main > li#navProgramm > a:link,
body#programm nav .main > li#navProgramm > a:visited {
	color: #eb7f00;
}

footer {
	font-size: 12px;
	border-bottom: 15px solid #eb7f00;
	color: #AAA;
	margin-top: 50px;
}
footer .main {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
footer .main > li {
	margin: 0 10px;
}

.hero {
	display: flex;
	justify-content: center;
}
.hero figure {
	position: relative;
}
.hero figcaption {
	position: absolute;
	bottom: 5px;
	right: 10px;
	font-size: 12px;
	color: #eee;
}

.tiles {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 -10px;
	padding: 0;
	list-style: none;
}
.tile {
	margin: 10px;
}
.tile.gold,
.tile.silver,
.tile.bronze,
.tile.media {
	border-radius: 10px;
	border: 1px solid #e6eeef;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10px;
	text-align: center;
}
.tile.gold {
	flex: 0 0 360px;
	height: 110px;
}
.tile.gold img {
	max-width: 350px;
	max-height: 100px;
}
.tile.silver {
	flex: 0 0 230px;
	height: 85px;
}
.tile.silver img {
	max-width: 220px;
	max-height: 75px;
}
.tile.bronze {
	flex: 0 0 160px;
	height: 85px;
}
.tile.bronze img {
	max-width: 150px;
	max-height: 75px;
}
.tile.media {
	flex: 0 0 160px;
	height: 85px;
}
.tile.media img {
	max-width: 150px;
	max-height: 75px;
}

.highlight {
	border: 1px solid #eb7f00;
	font-weight: bold;
	padding: 1em;
}

.map-container {
	height: 40vh;
}
.map-container .map {
	height: 100%;
}
.map-container .hidden {
	display: none;
}
.map-container .svg-feature {
	transition: all 0.25s ease-out;
}
.map-container .svg-feature:hover {
	fill: rgb(255,200,50);
}
.map-container .label {
	color: #333;
	pointer-events: none;
	font-size: 1.0em;
	text-shadow: -1px -1px 0 #cecece, 1px -1px 0 #cecece, -1px 1px 0 #cecece, 1px 1px 0 #cecece;
}
.map-container .label.label-priority-0 {
	font-size: 1.6em;
}
.map-container .label.label-priority-1 {
	font-size: 1.4em;
}
.map-container .leaflet-bar a.leaflet-control-panto-btn {
	width: auto;
	padding: 0 3px;
}
